.login-container {
  height: calc(100vh - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand-logo {
  object-fit: contain;
  width: 25%;
}

.auth-link {
  text-align: center;
  background-color: #18d860;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  margin: 5rem;
  width: 10%;
  font-weight: bolder;
  color: black;
}
